<form [formGroup]="registrationForm" (ngSubmit)="registerUser()">

  <div class="form-group">
    <label for="username">{{ 'registration-form.username' | translate }}</label>
    <input type="text" formControlName="username" id="username" class="form-control">
    <div *ngIf='username.touched && username.invalid' class="alert alert-danger">
        <div *ngIf="username?.errors['required']">{{ 'formvalidation.required' | translate }}</div>
    </div>
  </div>

  <div formGroupName="passwords" class="form-group">
      <div class="form-group">
        <label for="password">{{ 'registration-form.password' | translate }}</label>
        <input type="password" formControlName="password" id="password" class="form-control">
        <div *ngIf='password.touched && password.invalid' class="alert alert-danger">
          <div>aqui mensajes de error</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPass">{{ 'registration-form.confirmPassword' | translate }}</label>
        <input type="password" formControlName="confirmPass" id="confirmPass" class="form-control">
      </div>
      <div *ngIf="confirmPass.touched && registrationForm.hasError('notSame', 'passwords')" class="alert alert-danger">
        {{ 'formvalidation.missmatch' | translate }}
      </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
