<div class='card-container'>
  <div class='info-container'>
    <h1>{{ product.name }}</h1>
  </div>
  <div class='action-buttons-container'>
    <app-round-icon-button
      (click)='seeProductDetails()'
      [iconType]='iconTypes.view'>
    </app-round-icon-button>

    <app-round-icon-button
      (click)='editProduct()'
      [iconType]='iconTypes.edit'>
    </app-round-icon-button>

    <app-round-icon-button
      (click)='removeProduct()'
      [iconType]='iconTypes.delete'
      buttonClass='danger'>
    </app-round-icon-button>
  </div>
</div>
