
<div class="card" style="width: 18rem;">
  <!--<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>

    <button (click)="seeProductDetails()" class="btn btn-primary">{{ 'button.more' | translate }}</button>
    <button (click)="manageProduct()" class="btn btn-primary">Manage</button>
    <button (click)="editProduct()" class="btn btn-primary">{{ 'button.edit' | translate }}</button>
    <button (click)="removeProduct()" class="btn btn-primary">{{ 'button.remove' | translate }}</button>
  </div>
</div>
