<app-product-form *ngIf="isDataReady" [inputProduct]="product" [isReadOnly]="true"></app-product-form>

<div class="container mt-3">
  <h5>Price history</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of priceHistory">
          <td>{{ entry.price_id }}</td>
          <td>{{ entry.dateUpdated | date }}</td>
          <td>{{ entry.price }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container mt-3">
  <h5>Availability</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Hangar</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <td>Nombre del hangar</td>
      <td>Unidades disponibles</td>
    </tbody>
  </table>
</div>
