.main-layout {
  display: grid;
  width: 100vw;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navbar-area" "main-area";
}

app-navbar {
  width: 100vw;
  height: 60px;

  grid-area: navbar-area;
}

.main-content {
  width: 100vw;

  grid-area: main-area;
}
