* {margin:0; padding:0;}

.product-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 250px is the card max-width */
  grid-gap: 1rem;
  justify-items: center;
}
