<div class='form-group'>
  <label [formGroup]='parentForm' for='customInputText'>
    {{ _label }}
    <input
    id='customInputText'
    [formControlName]='_formControlName'
    [type]='_inputType'
    class='form-control'>
  </label>

  <div *ngIf='_formControl.touched && _formControl.invalid' class='alert alert-danger'>
    <div *ngIf='_formControl?.errors["required"]'>
        {{ 'form-validation.required' | translate }}
    </div>
    <div *ngIf="_formControl?.errors['minlength']">
      {{ 'form-validation.minlength' | translate: {minlength: _formControl.errors['minlength'].requiredLength} }}
    </div>
    <div *ngIf="_formControl?.errors['email']">
      Not a valid email
    </div>
  </div>
</div>

