<div *ngIf="hangar$ | async as hangar; else loading">
  <h2>{{ hangar.name }}</h2>

  <app-hangar-form
    [hangar]="hangar"
    [isReadOnly]="isReadOnly"
    (updated)="onUpdate($event)">
  </app-hangar-form>

  <div>
    <button class="btn btn-block" (click)="onLoadProducts()">Load products</button>
  </div>
</div>


<pre>{{ stockEntries$ | async | json }}</pre>

<!--
<div *ngIf='stockEntries$ | async as stockEntries'>

  <app-stock-entry-form
    *ngFor="let stockEntry of stockEntries"
    [stockEntry]='stockEntry'>
  </app-stock-entry-form>
</div>
-->

<ng-template #loading>
  Loading hangar data...
</ng-template>
