// Colors
$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;
$gray-dark: rgb(167, 167, 167);

$danger-red: #da1e28;
$danger-red-dark:  #b3151d;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

