div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  padding: 0px 5px;
  height: 52px;
  background-color: #7fcccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: background-color 200ms ease-in-out;
}

a {
  display: block;
  flex-grow: 70;
  padding: 8px;
  text-align: left center;
}

div:hover {
  background-color: #50bdbd;
}
