<!--
<div *ngIf="isOpen" [@openClose] id="mySidenav" class="sidenav d-flex flex-column">
  <a href="javascript:void(0)" class="closebtn" (click)="toggle()">&times;</a>
  <button (click)="manageElement()" type="button" class="btn btn-primary btn-sm">Manage</button>
  <button (click)="editElement()" type="button" class="btn btn-primary btn-sm">Edit</button>
  <button (click)="removeElement()"type="button" class="btn btn-primary btn-sm">Remove</button>
</div>
-->
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page
<div id="main">
  ...
</div>

-->
<div *ngIf="isOpen" [@openClose] class="sidebar">
    <ul>
        <li><a (click)="manageElement()">Manage</a></li>
        <li><a (click)="editElement()">Edit</a></li>
        <li><a (click)="removeElement()">Remove</a></li>
    </ul>
</div>

