* {
  margin: 0;
  padding: 0;
}

.nav-container {
  width: 100%;
  background-color: #333333;
  color: white;
}

nav {
  max-width: 1720px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    ". . . ."
    "vmenu vmenu vmenu vmenu";
}

.logo {
  grid-column: 2;
  grid-row: 1;
}

.primary-menu {
  grid-column: 3;
  grid-row: 1;

  display: flex;
  justify-content: center;
}

.secondary-menu {
  grid-column: 4;
  grid-row: 1;

  display: flex;
  justify-content: flex-end;
}

a {
  padding: 0.5em;
  margin: 1em 0em;
}

a img {
  width: 2em;
  color: white;
}

.primary-menu a, .secondary-menu a {
  border: solid 1px white;
  text-align: center;
}

.primary-menu a {
  padding: 0.5em 2em;
  margin: 1em 0.5em;
}

.secondary-menu a {
  margin: 1em 0.2em;
}


#nav-toggle, .burger-menu {
  display: none;
}

#nav-toggle {
  visibility: hidden;
}

.burger-menu {
  background-color: blue;
}

.burger-menu img {
  width: 2em;
}

@media only screen and (max-width: 1025px) {
  .burger-menu {
    display: inline-block;
    grid-column: 1;
  }
  .logo {
    grid-column: 2;
  }
  .primary-menu {
    display: none;
  }
  #nav-toggle:checked ~ .primary-menu {
    display: grid;
    grid-area: vmenu;
    justify-content: left;
    padding: 0em 2em;
  }
}
