<div class='nav-container'>
    <nav>
      <app-round-icon-button id='burger-menu'
      (click)='toggleSidebar()'
      [iconType]='iconTypes.menu'
      buttonClass='navbar-button'
      class='whitelisted'>
      </app-round-icon-button>

      <a class='logo'>AppName</a>

      <div class='primary-menu'>
        <app-text-button
          buttonText='Home'
          routerLink='/home'>
        </app-text-button>
        <app-text-button
          buttonText='Hangars'
          routerLink='/hangars'>
        </app-text-button>
        <app-text-button
          buttonText='Products'
          routerLink='/products'>
        </app-text-button>
        <app-text-button
          buttonText='Store'
          routerLink='/store/products'>
        </app-text-button>
      </div>

      <div class='secondary-menu'>

        <app-round-icon-button
          routerLink='/store/cart'
          [iconType]='iconTypes.cart'
          buttonClass='navbar-button'>
        </app-round-icon-button>
<!--
        <a class='nav-icon' routerLink='/store/cart'>
          <span>({{productsCount$ | async}})</span>
          <svg-icon class='nav-icon' src='assets\icons\shop.svg'></svg-icon>
        </a> -->

        <app-round-icon-button *ngIf='authenticationService.isUserLoggedIn()'
          (click)='toggleUserMenu()'
          [iconType]='iconTypes.user'
          buttonClass='navbar-button'
          class='whitelisted'>
        </app-round-icon-button>

        <app-round-icon-button id="lan-button" (click)="switchLanguage()"
          [iconType]='iconTypes.globe'
          buttonClass='navbar-button'>
        </app-round-icon-button>
      </div>

    </nav>
  </div>

<app-menu-sidebar [enableWhiteListing]='true'></app-menu-sidebar>
<app-user-dropdown></app-user-dropdown>

