<form [formGroup]="hangarForm">

    <app-custom-input
      _label='{{ "hangar-form.name" | translate }}'
      _formControlName='name'
      [parentForm]='hangarForm'>
    </app-custom-input>

    <app-custom-input
      _label='{{ "hangar-form.address" | translate }}'
      _formControlName='address'
      [parentForm]='hangarForm'>
    </app-custom-input>

    <app-custom-input
      _label='{{ "hangar-form.owner" | translate }}'
      _formControlName='owner'
      [parentForm]='hangarForm'>
    </app-custom-input>

    <app-custom-input
      _label='E-mail'
      _formControlName='ownerEmail'
      _inputType='email'
      [parentForm]='hangarForm'>
    </app-custom-input>

    <app-custom-input
      _label='{{ "hangar-form.phone" | translate }}'
      _formControlName='phoneNumber'
      _inputType='tel'
      [parentForm]='hangarForm'>
    </app-custom-input>

  <button
    *ngIf="!isReadOnly"
    class="btn btn-primary"
    type="submit"
    (click)="submit()">
    {{ 'button.submit' | translate }}
  </button>

</form>




