<app-error-toast *ngIf='error$ | async as error'
  [error]='error'>
</app-error-toast>

<app-sidenav #hangarsMenu
  (manage)="onClickManage()"
  (edit)="onClickEdit()"
  (remove)="onClickRemove()">
</app-sidenav>

<app-floating-button-plus
  (click)="addNewHangar()">
</app-floating-button-plus>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hangar of (hangarsPage$ | async)?.content | paginate: {
                                            itemsPerPage: items,
                                            currentPage: currentPage + 1,
                                            totalItems: (hangarsPage$ | async)?.totalElements }">
      <td>{{ hangar.name }}</td>
      <td>{{ hangar.address }}</td>
      <button (click)="setSelectedHangar(hangar.id)" (dblclick)="hangarForm(hangar.id)" type="button" class="btn btn-outline-primary btn-block btn-sm">Seleccionar</button>
      <!-- Usar un timeout en el ts -->
    </tr>
  </tbody>
</table>

<pagination-controls
  (pageChange)="pageChanged($event)"
  autoHide="true">
</pagination-controls>



